{% extends "template.html" %}
{% block conteudo %}

    <div class="container">

        <h1>Faça seu login</h1>
        <form method="POST" action="{{ url_for('autenticar') }}">
            <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
            {{ formulario.csrf_token() }}
            <div class="form-group inputBox">
                {{ formulario.username.label(class="form-lavel") }}
                {{ formulario.username(class="form-control") }}
            </div>
            <div class="form-group inputBox">
                {{ formulario.senha.label(class="form-lavel") }}
                {{ formulario.senha(class="form-control") }}
            </div>
            <div class="form-group buttons">
                {{ formulario.login(class="btn btn-success btn-salvar") }}
                <a class="btn btn-primary" href="{{ url_for('index') }}"> Voltar</a>
            </div>
        </form>

    </div>

{% endblock %}