<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{titulo_pagina}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.css') }}"></link>
    </head>
    <body>

        {% with messages = get_flashed_messages() %}
            {% if messages %} 
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="container">
            <div class="page-header">
                <h1>{{ titulo }}</h1>
            </div>
            {% block conteudo %}

            {% endblock %}

        </div>
    </body>
</html>